@import "tailwindcss";

@theme {
  /* --- Light Mode (Standard) --- */
  --color-background: #ffffff;      /* Pure White */
  --color-foreground: #000000;      /* Dark Black Text */
  
  --color-secondary: #f3f4f6;       /* Light Gray (cards/sidebar) */
  --color-accent: #e7b866;          /* Your Honey Orange */

  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  .dark {
    /* --- Dark Mode Overrides --- */
    --color-background: #000000;    /* Dark Background */
    --color-foreground: #ffffff;    /* White Text */
    
    --color-secondary: #1f2937;     /* Light Gray for Cards (Tailwind Gray-800) */
    --color-accent: #a855f7;        /* Purple Accent (Tailwind Purple-500) */
  }
}